header{
    height: 9rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 10, 10);
    font-family: 'Rubik', sans-serif;
    padding: 0 2rem;
}

.logo-section{
    display: flex;
    align-items: center;
}

.logo{
    width: 10rem;
    height: auto;
}

.logo-text{
    padding-left: 0.5rem;
    color: whitesmoke;
    font-weight: bold;
}

nav{
    color: whitesmoke;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 0 1.5rem;
    font-weight: bold;
    font-size: 1.1rem;
}

nav button:hover {
    border-bottom: 1px solid crimson;
    color: crimson;
}